.page {
  // background: rgb(36, 22, 23);
}

.about {
  margin-top: 10px;
  .experience {
    &> div{
      vertical-align: top;
        img {
          border-radius: 5px;
          border: 1px solid black;
        }
    }
  }
  #map {
    margin: 0 auto;
    margin-top: -50px;
    position: relative;
    width: 600px;
    height: 600px;
  }
  .col-3 {
    margin: 3%;
    width: 27%;
  }

  .col-4 {
    margin: 0%;
    width: 25%;
    display: inline-block;
  }

  .datamaps-hoverover {
    .hoverinfo.tooltip {
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
    }
  }

  @include media-query(900px) {
    .col-4 {
        margin: 3%;
        width: 44%;
    }
  }

  @include media-query($on-palm) {
    .col-3,
    .col-4 {
        margin: 7.5%;
        width: 85%;
        display: block;
    }
    #map {
      width: 100% !important;
      padding-bottom: 0px !important;
       svg {
        width: 100% !important;
      }
    }
  }
}
