/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    border-bottom: 1px solid rgb(242, 242, 242);
    // Positioning context for the mobile navigation icon
    position: relative;
}

// Particles stuff
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  height: 100%;
  background: #b61924;
  @include media-query($on-palm) {
    height: 500px !important;
  }
}

.small-circle {
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    vertical-align: top;
}

.menu-icon {
    display: block;
    float: right;
    color: #202C45;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    // Hover Red
    &:hover {color: rgb(179, 0, 0);}
}


.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    letter-spacing: 1px;

    &,
    &:visited {
        color: $grey-color-dark;
    }
    &:hover {
        color: transparent;
        text-shadow: 0 0 3px rgba(0,0,0,1);
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Grid Layout
 */

.col-3 {
  display: inline-block;
  width: 33.3333%;
}

@include media-query($on-palm) {
    .col-3 {
        width: 100%;
        display: block;
    }
}



/**
 * Site footer
 **/
.site-footer {
    padding: 20px $spacing-unit;
    background-color: #ebebeb;
    background: linear-gradient(#FFF, #F4F4F4);

    #email-me {
        i {
            display: block;
            font-size: 32px;
            margin-bottom: 20px;
        }
    }

    #description {
        border-left: 1px solid #E4E4E4;
        border-right: 1px solid #E4E4E4;
    }

    #social-links {
        li {width: 150px;}
    }

    i {
        font-size: 28px;
        margin-right: 10px;
        vertical-align: middle;
        color: #5A5D66;
    }

    a {font-weight: 400;}
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}

.footer-col {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

    .text {
        width: 90%;
        display: inline-block;
    }

    ul {
        list-style: none;
        margin-left: 0px;
        li {
            margin-bottom: 5px;
            display: inline-block;
        }
    }

}

// Footer Media Query for Phones
@include media-query(720px) {
    .site-footer {
        padding: 30px;
    }
    .footer-col {
        width: 100%;
        display: block;
        text-align: center;
    }
    #description {
        display: none;
    }
    #email-me {
        margin-bottom: 50px;
        border-bottom: 1px solid #EAEAEA;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
