.project-list {
  margin-top: 30px;
  text-align: center;
  margin-left: 0px;
  li {
    display: inline-block;
    position: relative;
    width: 16.5%;
    margin: 1%;
    img {
      border-radius:10px;
      border:1px solid rgba(0, 0, 0, 0.5);
    }
    h2 {
      position: absolute;
      top: 15%;
      left: 10%;
      right: 0;
      bottom: 0;
      width: 80%;
      height: 90%;
      // vertical-align: bottom;
      visibility: hidden;
    }
    &:hover {
        h2 {
          visibility: visible;
        }
      }
  }
}
