.project-list {
  margin-top: 30px;
  text-align: center;
  margin-left: 0px;
  li {
    display: inline-block;
    position: relative;
    width: 16.5%;
    margin: 1%;
    -webkit-transition: 1s all ease-in;
    -moz-transition: 1s all ease-in;
    -o-transition: 1s all ease-in;
    transition: 1s all ease-in;
    a {
      color: white;
    }
    img {
      border-radius:10px;
      border:1px solid rgba(0, 0, 0, 0.5);
      -webkit-transition: .5s -webkit-filter ease-in-out;
      transition: .5s -webkit-filter ease-in-out;
    }
    h2 {
      position: absolute;
      top: 15%;
      left: 10%;
      right: 0;
      bottom: 0;
      width: 80%;
      height: 90%;
      // vertical-align: bottom;
      visibility: hidden;
    }
    &:hover {
        h2 {
          visibility: visible;
          a {
            color: white;
          }
        }
        img {
          -webkit-filter: blur(5px) brightness(0.6);
          -moz-filter: blur(5px) brightness(0.6);
          -o-filter: blur(5px) brightness(0.6);
          -ms-filter: blur(5px) brightness(0.6);
          filter: blur(5px) brightness(0.6);
        }
      }
  }
}
