@keyframes caret {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


.saying:after {
  content: "|";
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1;
  display: inline-block;
  vertical-align: baseline;
  opacity: 1;
  animation: caret 500ms infinite;
}
